.billingWrapper {
  margin-top: -230px;
  margin-bottom: 100px;

  @media (min-width: 992px) and (max-width: 1200px) {
    margin-bottom: 90px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    margin-bottom: 80px;
  }

  @media (max-width: 767px) {
    margin-bottom: 80px;
  }

  .billingTabsBar {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // align-items: center;
    padding: 7px;

    @media (max-width: 767px) {
      padding-left: 15px;
      display: block !important;
      padding-bottom: 15px;
    }

    .billingTitle {
      flex-basis: 20%;
      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #6258fb;
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 18px;
      }
    }

    .tabsWrapper {
      flex-basis: 80%;

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    .btn {
      margin-right: 10px;

      i {
        margin-right: 5px;
      }
    }
  }

  .billingBody {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.04);

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 30px 15px;
    }

    @media (max-width: 767px) {
      padding: 30px 15px;
    }

    .billingHeader {
      width: 85% !important;
      margin-bottom: 40px;
    }

    .walletMenus {
      text-align: right;

      @media (max-width: 500px) {
        text-align: left;
        margin-top: 10px;
      }

      button {
        margin-left: 14px;

        @media (max-width: 500px) {
          margin-left: auto;
          margin-right: 10px;
        }
      }
    }
  }
}

.actionBtns {
  display: flex;

  li {
    padding: 0;
    margin-right: 20px;
    width: auto;
    cursor: pointer;
    display: inline-block;

    .btnWidth {
      width: auto !important;
    }
  }
}

.tabsContent2 {
  background: #fff;
  padding: 44px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.04);
}

.singlemsg {
  display: flex !important;
}

.rightmsg {
  justify-content: flex-end !important;
}

.leftmsg {
  justify-content: flex-start !important;
}

.msg-input-image {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
}

/* Styling the container with a custom scrollbar */
.messageArea {
  height: 60vh;
  overflow-y: auto;
  /* Enable scroll behavior */
  scrollbar-width: thin;
  /* Hide the default scrollbar in Firefox */
  scrollbar-color: #888 transparent;
  /* Set the scrollbar color */

  /* Styling for WebKit-based browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the thumb color */
    border-radius: 4px;
    /* Rounded thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Thumb color on hover */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    /* Track color */
  }
}

.onlineUserList {
  overflow-y: auto;
  /* Enable scroll behavior */
  scrollbar-width: thin;
  /* Hide the default scrollbar in Firefox */
  scrollbar-color: #888 transparent;
  /* Set the scrollbar color */

  /* Styling for WebKit-based browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the thumb color */
    border-radius: 4px;
    /* Rounded thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Thumb color on hover */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    /* Track color */
  }
}